.offercontainer {
    display: flex;
    z-index: 1;
}

.offercontent {
    align-items: center;
    margin-left: 280px;
    margin-top: 150px;
}

.offermenu a {
    font-family: 'Rubik', sans-serif;
    color: #014921;
    text-decoration: none;
    text-align: right;
    margin-bottom: 10px;
}

.offermenu a:hover {
    color: #FF5500;
}

.offermenu {
    text-align: right;
    position: fixed;
    top: 40vh;
    left: 0;
    width: 240px;
    display: flex;
    flex-direction: column;
}

.cafe,
.co-working,
.workshop,
.restaurant,
.urbanGarden,
.kino,
.club {
    position: relative;
    display: inline-block;
    width: 75vw;
}

.co-working,
.workshop,
.restaurant,
.urbanGarden,
.kino,
.club {
    margin-top: -10vw;
}

.overlay {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    display: inline-flex;
    align-items: flex-start;
    gap: 8vw;
    align-items: center;
}

.header {
    text-align: center;
    font-family: 'Source Serif 4', serif;
    font-size: 3vw;
    font-style: italic;
    font-weight: 800;
    line-height: normal;
}

.content {
    text-align: center;
    font-family: 'Source Serif 4', serif;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    width: 30vw;
}

.button {
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 19px;
    height: 1.5vw;
    width: 15vw;
}

.white {
    color: var(--weiss, #FFEAD9);
}

.blue {
    color: var(--weiss, #12263A);
}

.orange {
    color: var(--dunkel-orange, #F50);
}

.buttonwhite {
    background: var(--weiss, #FFEAD9);
    color: var(--dunkel-orange, #F50);
}

.buttonblue {
    background: var(--blau, #12263A);
}

.buttonorange {
    background: var(--dunkel-orange, #F50);
}

.buttonText {
    text-align: center;
    font-family: 'Source Serif 4', serif;
    font-style: italic;
    font-weight: 900;
    letter-spacing: 0.576px;
    font-size: 1.5vw;
}

.cafe img,
.co-working img,
.workshop img,
.restaurant img,
.urbanGarden img,
.kino img,
.club img {
    width: 25vw;
}

/* Smartphone Styles */
@media only screen and (max-width: 1000px) {

    .offermenu {
        display: none;
    }

    .offercontent {
        margin-left: 5vw;
    }

    .overlay {
        left: 60%;
    }

    .cafe svg,
    .co-working svg,
    .workshop svg,
    .restaurant svg,
    .urbanGarden svg,
    .kino svg,
    .club svg {
        width: 90vw;
    }
}

