.offercontainer {
    display: flex;
    z-index: 1;
}

.offercontent {
    align-items: center;
    margin-left: 280px;
    margin-top: 150px;
}

.offermenu a {
    font-family: 'Rubik', sans-serif;
    color: #014921;
    text-decoration: none;
    text-align: right;
    margin-bottom: 10px;
}

.offermenu a:hover {
    color: #FF5500;
}

.offermenu {
    text-align: right;
    position: fixed;
    top: 40vh;
    left: 0;
    width: 240px;
    display: flex;
    flex-direction: column;
}


.cafe,
.co-working,
.workshop,
.restaurant,
.urbanGarden,
.kino,
.club {
    position: relative;
    display: inline-block;
}

.co-working,
.workshop,
.restaurant,
.urbanGarden,
.kino,
.club {
    margin-top: -100px;
}

.kino div,
.cafe div {
    color: var(--blau, #12263A);
}

.co-working div,
.workshop div,
.restaurant div,
.urbanGarden div,
.club div {
    color: var(--weiss, #FFEAD9);
}

.overlay {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    display: inline-flex;
    align-items: flex-start;
    gap: 82px;
}

.header {
    text-align: center;
    font-family: 'Source Serif 4', serif;
    font-size: 64px;
    font-style: italic;
    font-weight: 800;
    line-height: normal;
}

.content {
    text-align: center;
    font-family: 'Source Serif 4', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.buttonwhite {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 19.2px;
    background: var(--weiss, #FFEAD9);
    color: var(--dunkel-orange, #F50);
}

.buttonblue {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 19.2px;
    background: var(--blau, #12263A);
    color: var(--weiss, #FFEAD9);
}

.buttonorange {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 19.2px;
    background: var(--dunkel-orange, #F50);
    color: var(--weiss, #FFEAD9);
}

.buttonText {
    color: var(--dunkel-orange, #F50);
    text-align: center;
    font-family: Source Serif 4;
    font-size: 28.8px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.576px;
}