html body {
    padding: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 200px;
    margin: 0;
}

.title {
    background-color: #FFEAD9;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

.logo {
    width: 300px;
}

.menu {
    background-color: #014921;
    color: #fff;
    padding: 10px 0;
}

.menu ul {
    list-style-type: none;
    text-align: center;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease;
}

.menu li a:hover {
    color: #FFBBA6;
    /* Change the color on hover */
    font-style: italic;
    font-style: underline;
}
