main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Source Serif 4', serif;
}

.blob {
    position: relative;
}

.flexbox {
    display: inline-flex;
    align-items: center;
    gap: 4vw;
}

.svgFlexbox {
    display: inline-flex;
    align-items: center;
    left: 60% !important;

}

.svg-container {
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header {
    font-size: 5vw;
    font-weight: 800;
    font-style: italic;
}

.bigText {
    font-size: 4.5vw;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.maintext {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    color: var(--hell-orange, #FE932F);
    text-align: center;
    font-size: 4vw;
    font-weight: 800;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.bodytext {
    width: 35vw;
    font-size: 2vw;
    font-weight: 400;
    letter-spacing: 0.56px;
}

.first {
    width: 70vw;
}

.second svg {
    width: 55vw;
}

.third svg {
    width: 35vw;
}

.fourth {
    width: 65vw;
}

.fifth {
    width: 65vw;
}

.right {
    margin-left: 35vw;
    margin-right: 5vw;
}

.left {
    margin-right: 35vw;
    margin-left: 5vw;
    margin-bottom: 5vw;
}

.top {
    margin-top: 110px;
}

.blue {
    color: #12263a;
}

.lightpink {
    color: #FFEAD9;
}

.button {
    padding: 8px 16px;
    border-radius: 19px;
    background: #F50;
    border: none;
    font-family: 'Source Serif 4', serif;
    font-size: 1.6vw;
    font-style: italic;
    font-weight: 900;
    width: 15vw;
    text-align: center;
}

.button a {
    text-decoration: none;
    color: var(--weiss, #FFEAD9);
}

.long {
    width: 20vw;
    margin-top: -4vw;
    margin-bottom: 3vw;
    z-index: 4;
}
