.content {
    align-content: center;
    margin-top: 180px;
    position: relative;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--weiss, #FFEAD9);
    font-family: 'Source Serif 4', serif;
    font-size: 2vw;
    font-weight: 400;
    letter-spacing: 0.48px;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: bold;
}

.owner,
.address,
.contact {
    position: relative;
    display: inline-block;
}

.owner svg, .address svg, .contact svg {
    width: 37vw;
}

.address {
    margin-left: -8vw;
    margin-right: -8vw;
}

.header {
    color: var(--weiss, #FFEAD9);
    font-family: 'Source Serif 4', serif;
    font-size: 5vw;
    font-style: italic;
    font-weight: 800;
    line-height: normal;
    margin-bottom: -160px;
}

.header2 {
    color: var(--weiss, #12263a);
    font-family: 'Source Serif 4', serif;
    font-size: 5vw;
    font-style: italic;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 36px;
}

.rightstext {
    color: var(--blau, #12263A);
    font-family: 'Source Serif 4';
    font-size: 3vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4px;
}

.rights {
    align-items: normal;
    margin: 3vw 6vw;
}

@media only screen and (max-width: 700px) {

    .address {
        margin: -6vw 0;
    }

    .content{
        flex-direction: column;
    }

    .owner svg, .address svg, .contact svg {
        width: 80vw;
    }

    .header, .header2 {
        font-size: 8vw;
    }

    .content {
        font-size: 4vw;
    }
}