:root {
    --bigText: 5vw;
    --mediumText: 2.7vw;
    --smallText: 1.7vw;
}

.content {
    position: relative;
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

input {
    width: 18vw;
    height: 2vw;
    border-radius: 20px;
    border: 1px solid black;
    flex-shrink: 0;
    margin-right: 5vw;
    background-color: #FFEAD9;
}

label {
    color: var(--blau, #12263A);
    font-family: 'Source Serif 4', serif;
    font-size: 2vw;
    font-weight: 400;
    letter-spacing: 0.48px;
    margin: 0;
    padding: 0;
}

textarea {
    width: 65vw;
    height: 10vw !important;
    border-radius: 15px;
    border: 1px solid black;
    margin-bottom: 2vw;
    background-color: #FFEAD9;
    overflow: hidden;
    box-sizing: border-box;
    resize: none;
}

form {
    display: flex;
    flex-direction: column;
}

.form svg {
    width: 95vw;
}

.sendButton {
    border-radius: 19px;
    background: #F50;
    border: none;
    color: var(--weiss, #FFEAD9);
    font-family: 'Source Serif 4', serif;
    font-size: 2vw;
    font-style: italic;
    font-weight: 900;
    height: 4vw;
    width: 20vw;
    margin-left: auto;
    margin-right: 4vw;
}

.form div {
    fill: var(--pink, #FFBBA6);
}

.form {
    position: relative;
    display: inline-block;
    align-content: center;
}

.textOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.upperTitle {
    color: var(--blau, #12263A);
    font-family: 'Source Serif 4', serif;
    font-size: var(--mediumText);
    font-style: italic;
    font-weight: 300;
    line-height: normal;
}

.name {
    display: flex;
    margin-bottom: 1vw;
}

.email {
    margin-bottom: 1vw;
}

.text {
    display: flex;
    flex-direction: column;
}

.mainTitle {
    color: var(--blau, #12263A);
    font-family: 'Source Serif 4', serif;
    font-size: var(--bigText);
    font-style: italic;
    font-weight: 800;
    width: 40vw;
    margin-bottom: 2vw;
}

.bigText {
    color: var(--blau, #12263A);
    font-family: 'Source Serif 4', serif;
    font-size: var(--mediumText);
    font-weight: 400;
    letter-spacing: 0.64px;
    width: 40vw;
    margin-bottom: 24px;
}

.smallText {
    color: var(--blau, #12263A);
    font-family: 'Source Serif 4', serif;
    font-size: var(--smallText);
    font-weight: 400;
    letter-spacing: 0.4px;
    width: 40vw;
}

.openingHours, .address {
    display: flex;
    margin-bottom: 8vw;
}

.openingHoursText,
.mapPicture {
    width: 45vw;
}

.house img,
.mapPicture img {
    width: 30vw;
}
