/* Header */
.home {
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Serif 4' , serif;
    font-weight: 800;
    font-style: normal;
    color: #FE932F;
    font-size: 72px;
}

.logo img {
    width: 113px;
    height: 35px;
    color: #014921;
}

.title {
    background-color: #FFEAD9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 5;
}

.menuLeft a,
.menuRight a {
    text-align: center;
    color: #014921;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    margin: 0 90px;
    display: inline;
}

.menuLeft,
.menuRight {
    display: flex;
    align-items: center;
}

.menuLeft a:hover,
.menuRight a:hover {
    color: #FF5500;
    border-bottom: 3px solid #FF5500;
    border-radius: 2px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #FFEAD9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Footer Styles*/

footer {
    background-color: #014921;
    display: flex;
    align-content: center;
    padding: 26px 108px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Source Serif 4', serif;
    color: #FFEAD9;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin-top: auto;
}

.footer-links {
    color: #FFBBA6;
    margin: 10px;
    align-content: center;
}

.logoadress {
    display: flex;
    align-items: center;
    gap: 80px;
}

.adresss {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
}

.socialmedialinks {
    display: flex;
    align-items: center;
    gap: 56px;
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
    justify-content: space-between;
}

.linkss {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.linkss a:hover, .icons a:hover  {
    color: #FFBBA6;
}

.icons a, .linkss a {
    color: #FFEAD9;
    text-decoration: none;
}

.logoo {
    width: 113px;
    height: 35px;
}

.instalogo {
    width: 36px;
    height: 36px;
}

.tiktoklogo {
    width: 36px;
    height: 36px;
}