/* Header */

.logo img {
    width: 100px;
    height: 100px;
}

header {
    background-color: #FFEAD9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 5;
}

.menuLeft a,
.menuRight a {
    text-align: center;
    color: #014921;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    margin: 0 20px;
}

.menuLeft,
.menuRight {
    display: flex;
    align-items: center;
}

.menuLeft {
    margin-left: 20vw;
}

.menuRight {
    margin-right: 20vw;
}

.bold {
    color: #FF5500 !important;
}

.menuLeft a:hover,
.menuRight a:hover {
    color: #FFBBA6;
    font-style: italic;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Serif 4', serif;
    background-color: #FFEAD9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.menu-checkbox, .menu-links, .menu-icon {
    display: none;
}


@media only screen and (max-width: 900px) {

    .menuLeft,
    .menuRight {
        display: none;
    }

    .logo img {
        margin-right: 40vw;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        margin-left: 30px;
        position: relative;
        z-index: 10;
    }

    .menu-icon div {
        width: 25px;
        height: 3px;
        background-color: #014921;
        margin: 6px 0;
        transition: 0.4s;
    }

    .menu-icon label {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 30px;
        height: 30px;
    }

    .menu-checkbox {
        display: none;
    }

    .menu-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        background-color: #FFEAD9;
    }

    #menu-checkbox:checked ~ .menu-links {
        display: flex;
    }

    .menu-links a {
        padding: 10px;
        text-align: center;
        text-decoration: none;
        color: #014921;
        font-size: 16px;
        font-family: 'Rubik', sans-serif;
    }

    .menu-links a:hover {
        color: #FF5500;
    }

}


/* Footer Styles*/
footer {
    background-color: #014921;
    display: flex;
    align-content: center;
    padding: 26px 108px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Source Serif 4', serif;
    color: #FFEAD9;
    font-size: 16px;
    font-style: normal;
    line-height: 120%;
    margin-top: auto;
}

.footer-links {
    color: #FFBBA6;
    margin: 10px;
    align-content: center;
}

.logoadress {
    display: flex;
    align-items: center;
    gap: 80px;
}

.adresss {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
}

.socialmedialinks {
    display: flex;
    align-items: center;
    gap: 56px;
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
    justify-content: space-between;
}

.linkss {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.linkss a:hover,
.icons a:hover {
    color: #FFBBA6;
}

.icons a,
.linkss a {
    color: #FFEAD9;
    text-decoration: none;
}

.logoo {
    width: 100px;
    height: 100px;
}

.instalogo {
    width: 36px;
    height: 36px;
}

.tiktoklogo {
    width: 36px;
    height: 36px;
}

@media only screen and (max-width: 700px) {
    footer {
        padding: 18px 30px;
        font-size: 15px;
    }

    .logoadress {
        gap: 20px;
    }

    .socialmedialinks {
        gap: 24px;
        flex-direction: column;
    }

    .instalogo,
    .tiktoklogo {
        width: 24px;
        height: 24px;
    }

    .icons {
        flex-direction: row;
        margin-bottom: 10px;
    }
}