.home {
    background-color: #FF5500;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "pain-de-mie", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 40px;
}

.logo {
    margin-right: 20px;
}

.logoSvg {
    width: 250px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuLeft a,
.menuRight a {
    text-align: center;
    color: #014921;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    flex: 3;
}

.menuLeft,
.menuRight {
    display: flex;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #FFEAD9;
}

iframe {
    border: none;
    height: 220px;
    width: 100%;
    padding: 0;
    top: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.card {
    width: calc(33.33% - 40px);
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

button {
    background-color: #F48722;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}


button:hover {
    background-color: #FF5500;
}

@media screen and (max-width: 768px) {
    .card {
        width: calc(50% - 40px);
    }
}

@media screen and (max-width: 480px) {
    .card {
        width: calc(100% - 40px);
    }
}

footer {
    background-color: #014921;
    width: 100%;
    height: 70px;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.footer-links {
    color: #FFBBA6;
    margin: 10px;
    align-content: center;
}