.aboutus {
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.roundcorners img {
    display: inline;
    margin: 0 auto;
    border-radius: 50%;
    width: 180px;
    height: 180px;
}

.wwtext a {
    width: 260px;
    height: 25px;
    display: flex;
    align-items: flex-start;
    color: #014921;
    text-align: center;
    margin: 0 auto;
}

.wwtext {
    text-align: center;
    margin: auto;
    padding: 0px;
}

.tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tile a {
    text-align: center;
}