main {
    display: flex;
}

.aboutusmenu a {
    font-family: 'Rubik', sans-serif;
    color: #014921;
    text-decoration: none;
    text-align: right;
    margin-bottom: 10px;
}

.aboutusmenu a:hover {
    color: #FFBBA6
}

.aboutusmenu {
    text-align: right;
    position: fixed;
    top: 40vh;
    left: 0;
    width: 240px;
    display: flex;
    flex-direction: column;
}

.aboutuscontent {
    margin-top: 100px;
    margin-left: 280px;
    margin-bottom: 5vw;
}

.uppertext {
    display: flex;
    gap: 3vw
}

.uppertext img {
    width: 15vw;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4vw;
    width: 60vw;
}

.bigtitle {
    color: var(--blau, #12263A);
    font-family: 'Source Serif 4', serif;
    font-size: 4vw;
    font-style: italic;
    font-weight: 800;
    width: 60vw;
}

.bodytext {
    color: var(--blau, #12263A);
    font-family: 'Source Serif 4', serif;
    font-size: 1.18vw;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.small {
    width: 30vw;
}

.right {
    margin-left: 5vw;
}

.persons {
    display: flex;
    gap: 4vw;
    margin-top: 50px;
    margin-bottom: 50px;
}

.persons1 img {
    width: 16vw;
}

.persons2 img {
    width: 18vw;
}

.videocontent {
    color: var(--blau, #12263A);
    font-family: 'Source Serif 4', serif;
    font-size: 2vw;
    font-weight: 800;
    letter-spacing: 0.48px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    text-align: center;
    margin: 30px 0;
}

.video {
    display: flex;
    justify-content: center;
}

.video video {
    width: 60vw;
    border-radius: 45px;
}

.Waswirtun,
.Wiewirestun,
.Wasunsantreibt,
.Mitwemwirarbeiten {
    position: relative;
    display: inline-block;
    width: 80vw;
}

.Waswirtun img,
.Wiewirestun img,
.Wasunsantreibt img,
.Mitwemwirarbeiten img {
    width: 15vw;
}

.Waswirtun svg,
.Wiewirestun svg,
.Wasunsantreibt svg,
.Mitwemwirarbeiten svg {
    width: 75vw;
}

.Wiewirestun,
.Wasunsantreibt,
.Mitwemwirarbeiten {
    margin-top: -10vw;
}

.white {
    color: var(--weiss, #FFEAD9);
}

.overlay {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    display: inline-flex;
    align-items: flex-start;
    gap: 4vw;
    align-items: center;
}

.description {
    width: 35vw;
}

.button a {
    padding: 0.5vw 1vw;
    border-radius: 19px;
    height: 3vw;
    width: 15vw;
    text-align: center;
    font-family: 'Source Serif 4', serif;
    font-style: italic;
    font-weight: 900;
    letter-spacing: 0.576px;
    font-size: 1.5vw;
    text-decoration: none;
    background: var(--orange, #F50);
    color: var(--weiss, #FFEAD9);
}

.button {
    margin-top: 2vw;
}

/* Smartphone Styles */
@media only screen and (max-width: 1000px) {

    .aboutusmenu {
        display: none;
    }

    .aboutuscontent {
        width: 90vw;
        margin-left: 5vw;
    }

    .overlay {
        left: 55%;
    }

    .bodytext {
        font-size: 1.7vw;
    }

    .small {
        width: 45vw;
    }

    .description {
        width: 45vw;
    }

    .widetext .widetext .widetext {
        width: 60vw;
    }

    .bigtitle {
        font-size: 5vw;
    }

    .Waswirtun svg,
    .Wiewirestun svg,
    .Wasunsantreibt svg,
    .Mitwemwirarbeiten svg {
        width: 90vw;
    }

    .video {
        margin-left: 10vw;
    }
}